@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-newsreader: "Newsreader", serif;

  --primary: 159 82% 18%; /* #085339 */
  --secondary: 160 23% 92%; /* #e7f0ed */
  --destructive: 0 84% 60%; /* #ef4444 */
  --foreground: 169 100% 3%; /* #00100d */
  --background: 0 0% 100%; /* #ffffff */
  --border: 219 17% 84%; /* #cfd4dd */
  --muted-foreground: 246 15% 49%; /* #6f6b91 */
  --link: 208 74% 50%; /* #2186de */
  --earth: 30, 52%, 46%; /* #B27538 */
}
